/* css styles */
/* Arka plan rengi */
body {
  background-color: #fff3e6;
}

/* Navbar (üst menü) */
.navbar {
  background-color: #ffb380 !important;
}

/* Başlık renkleri */
h1, h2, h3 {
  color: #cc6600;
}

/* Link renkleri */
a {
  color: #ff6600;
}

a:hover {
  color: #cc5200;
}